body {
    background-image: url("/Users/Parker/src/basic-portfolio/assets/images/gravel/gravel.png");
}

.content {
    background-color: #ffffff;
    border-color: #dddddd;
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    padding: 2%;
}

footer {
    color: #dddddd;
    background-color: #666666;
    text-align: center;
}

form {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 200%;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

#name {
    color: #ffffff;
    background-color: #4aaaa5;
    border-color: #cccccc;
}

p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 250%;
}

#portrait {
    float: left;
    margin: 20px;
}
